{% extends 'base.html' %}

{% block content %}
  <h2>Детали сообщения для рассылки</h2>
  <!-- Отображение деталей сообщения для рассылки -->
  <p>Тема: {{ mailingmessage.subject }}</p>
  <p>Тело: {{ mailingmessage.body }}</p>
  <!-- Ссылки на редактирование и удаление сообщения для рассылки -->
  <a href="{% url 'mailingmessage-update' mailingmessage.pk %}">Редактировать</a>
  <a href="{% url 'mailingmessage-delete' mailingmessage.pk %}">Удалить</a>
  <a href="{% url 'mailingmessage-list' %}">Вернуться к списку сообщений для рассылки</a>
{% endblock %}
